.iconContainer {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: none;
}

.iconContainer:hover {
  transition: all 0.1s ease-in-out;
  width: 35px;
  height: 35px;
  box-shadow: 2px 2px 100px rgb(255, 255, 255);
}

.iconContainer :hover .icon {
  width: 18px;
  height: 18px;
  transition: all 0.1s ease-in-out;
}
