.container {
  width: 85%;
  height: calc(100vh - 100px);
  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.containerText {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.containerBtn {
  display: flex;
  gap: 20px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.containerIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (width<=900px) {
  .containerImg {
    display: none;
  }
}
